<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello on my page</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h1>wtffff</h1>
    <script>
      setTimeout(() => {
        window.location.href = 'https://youtu.be/dQw4w9WgXcQ';
      }, 3000);
    </script>
  </body>
</html>
